body {
  background-color: #cdd3d5 ;
}

nav {
  background-color: #75b8c8 ;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem
}

p {
  font-size: 1rem
}

#diaporama{
  position: relative;
  width: 800px;
  height: 402px;
  margin: auto;
}

li {
  list-style-type: none;
}

.img-carousel {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  border: 2px solid #506c64;
  border-radius: 15px;
  max-width: 100%;
}

.control {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2%;
}

#affichage-carte {
  padding-top: 50px;
}

#carte {
  width: 100% ;
  height: 500px ;
  border: 2px solid #506c64;
  border-radius: 15px;
}

#bouton-inscription-info{
  color: red;
}

.detail-station {
  border: 2px solid #506c64;
  border-radius: 15px;
  padding: 15px;
  height: 100%;
}

.div-reservation {
  border: 2px solid #506c64;
  border-radius: 15px;
  margin: 15px auto;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
#diaporama{
  width: 345px;
  height: 175px;
}
#carte {
  height: 200px ;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  #diaporama{
    width: 560px;
    height: 281px;
  }
  #carte {
    height: 300px ;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #diaporama{
    width: 738px;
    height: 370px;
  }
  #carte {
    height: 400px ;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #diaporama{
    width: 1000px;
    height: 501px;
  }
  #carte {
    height: 400px ;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #diaporama{
    width: 1200px;
    height: 544px;
  }
}
