body {
  background-color: #cdd3d5 ;
}

nav {
  background-color: #75b8c8 ;
}

#diaporama{
  position: relative;
  width: 640px;
  height: 540px;
  margin: auto;
}

li {
  list-style-type: none;
}

.img-carousel {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  border: 2px solid #75b8c8;
  border-radius: 15px;
}

.control {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

#affichage-carte {
  padding-top: 50px;
}

#carte {
  width: 100% ;
  height: 600px ;
}

#bouton-inscription-info{
  color: red;
}

#carte {
  border: 2px solid #75b8c8;
  border-radius: 15px;
}

.detail-station {
  border: 2px solid #75b8c8;
  border-radius: 15px;
  padding: 15px;
}
